<div class="rxjs-operator">

    <div class="of">
        <h3>Of Opearator</h3>

        @for (item of obs2; track $index) {
        <pre>{{item.name}} {{item.value}}</pre>
        }
    </div>

    <div class="of">
        <h3>From Opearator</h3>

        @for (item of obs1; track $index) {
        <p>{{item}}</p>
        }
    </div>

    <div class="toArray">
        <h3>toArray Opearator</h3>

        @for (item of obs3; track $index) {
        <p>{{item}}</p>
        }
    </div>

    <div class="timer">
        <h3>timer Opearator</h3>

        @for (item of obs4; track $index) {
        <p>{{item}}</p>
        }
    </div>
</div>